@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,900,700);

body {
  background-color:#95a5a6;
  justify-content:center;

}
.scoreboard {
  background-color:#34495e;
  color:#f1c40f;
  padding:2em;
  max-height:65px;
  font-family: 'Arial';
}
#p1wins {
  text-align: center;
  margin-bottom: 1%;
  font-family: 'Orbitron', sans-serif;
  font-weight:900;
  font-size:14px;
}
#p2wins{
  text-align: center;
  margin-bottom: 1%;
  font-family: 'Orbitron', sans-serif;
  font-weight:900;
  font-size:14px;
}
#ties{
  text-align: center;
  margin-bottom: 1%;
  font-family: 'Orbitron', sans-serif;
  font-weight:900;
  font-size:14px;
}
.box {
  display:flex;
  border: 3px solid #f1c40f;
  padding:1.5em;
  margin: 0;
  justify-content:center;
  border-radius:20px;
  height:100px;

}
.box:hover{
  background-color:#A9D0F5;
  cursor:pointer;
}

.rightside {
  border-right:0;
}

.leftside {
  border-left:0;
}

.top {
  border-top:0;
}

.bot {
  border-bottom:0;
}

.banner h1 {
  text-align: center;
  margin-bottom: 1%;
  font-family: 'Orbitron', sans-serif;
  font-weight:900;
  font-size:30px;
}

#restart {
  text-align:center;
  cursor:pointer;
  background:#ecf0f1;
  font-family:'Indie-Flower', 'sans-serif';
  margin-bottom:40%;
  padding:2%;
}
#restart:hover{
  background:#e74c3c;
}

#player {
  text-align:center;
  margin-bottom: 5%;
  background-color:#34495e;
  color:#f1c40f;
  font-size: 24px;
  font-family:'Indie-Flower', 'sans-serif';
  padding:4%;
}
.x {

  font-family: 'Indie-Flower', 'sans-serif';
  font-weight:bold;
  color:white;
  font-size:20px;

}
.o {

  font-family: 'Indie-Flower', 'sans-serif';
  color:white;
  font-size:20px;

}
.center {
  justify-content:center;
}
.cheat {
  background:black;
}

