@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.box {
  display:flex;
  border: 3px solid #f1c40f;
  padding:2em;
  margin: 0;
  justify-content:center;
  border-radius:20px;
  height:100px;

}
.box:hover{
  background-color:#A9D0F5;
  cursor:pointer;
}

.rightside {
  border-right:0;
}

.leftside {
  border-left:0;
}

.top {
  border-top:0;
}

.bot {
  border-bottom:0;
}

.banner {
  text-align: center;
  margin-bottom: 1%;
  font-family:'Metrophoic', 'sans-serif';
}

#restart {
  text-align:center;
  cursor:pointer;
  background:#ecf0f1;
  font-family:'Metrophoic', 'sans-serif';
  margin-bottom:40%;
  padding:2%;
}
#restart:hover{
  background:#e74c3c;
}

#player {
  text-align:center;
  margin-bottom: 5%;
  background-color:#34495e;
  color:#f39c12;
  font-size: 16px;
  font-family:'Metrophoic', 'sans-serif';
}
.x {

  font-family: 'Metrophobic', 'sans-serif';
  font-weight:bold;
  color:white;
  font-size:20px;

}
.o {

  font-family: 'Metrophobic', 'sans-serif';
  color:white;
  font-size:20px;

}
.center {
  justify-content:center;
}
.cheat {
  background:black;
}

